/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9; /* Light background color for the body */
    color: #333; /* Dark text color for contrast */
}

/* Header styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px; /* Larger font size for the header */
}

/* Form styles */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 60px;
    border-radius: 10px; /* Rounded corners */
    background-color: #709078;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

label {
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-style: bold;
    margin-right: 20px;
    font-size: 24px;
}

/* Input styles */
input[type="text"] {
    padding: 10px; /* Increase padding */
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 15px; /* Rounded corners */
    background-color: #f9f9f9; /* Light background color */
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-radius: 5px; /* Rounded corners */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px; /* Rounded corners */
    background-color: #fff; /* White background */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
}

th {
    background-color: #709078; /* Light gray background color for headers */
    font-weight: bold;
}

button {
    padding: 12px 30px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #78B0A0;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-style: bold;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color: #9ED2BE;
    color: #222831;
    box-shadow: #222831;
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: #222831;
    color: #222831;
    background-color: #222831;
    transform: translateY(10px);
    transition: 100ms;
  }